{% extends 'base.html'%} 
{% load static %} 
{% block tittle %}Cooperativa de Ahorro y Crédito{% endblock tittle %} 

{% block content%}
<link rel="stylesheet" href="{% static 'styles/aparicion.css' %}" />
<link rel="stylesheet" href="{% static 'styles/contenidoPresentatio.css' %}" />


<div id="masterContainer" class="masterContainer fade">
  <div id="buttonsContainer" class="buttonsContainer">
    <a class="butonnssContenido" onclick="mostrarSeccion('mision')"> <span class="material-symbols-outlined">target</span> <span class="titleContent">Misión</span></a>
    <a class="butonnssContenido" onclick="mostrarSeccion('vision')"> <span class="material-symbols-outlined">handshake</span> <span class="titleContent">Visión</span></a>
    <a class="butonnssContenido" onclick="mostrarSeccion('historia')"> <span class="material-symbols-outlined"> receipt_long </span> <span class="titleContent">Historia</span></a>
    <a class="butonnssContenido" onclick="mostrarSeccion('valores')"> <span class="material-symbols-outlined">family_home</span> <span class="titleContent">Valores</span></a>
  </div>
  <div class="ElementsMasterCointainer" >
    <div id="inicio" class="contenContenido fade" style="display:flex;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint ducimus incidunt quo eum reiciendis sit illum deserunt sunt veniam consequuntur, quidem ipsa aut minus velit quae, ut nesciunt? Dolores, labore.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reprehenderit? Debitis obcaecati asperiores et repellendus id a natus eius distinctio dolorum suscipit commodi, iste reiciendis, sed eligendi impedit. Deleniti, a!
        Ea veritatis excepturi ipsum magni, nesciunt accusamus tempora aliquam autem repellat quos at obcaecati possimus. Corporis unde minima necessitatibus quasi voluptatibus, quia placeat ipsam asperiores, mollitia saepe dolore dolorem harum?
        Laboriosam itaque esse quos sunt enim quae odio aperiam vel molestiae ab neque laudantium harum ratione quo, eaque dolorem totam ipsa nam iste aliquam unde blanditiis. Magnam nam laborum fugit.
        Qui facere itaque impedit mollitia quidem consectetur adipisci numquam tempora eveniet excepturi? Blanditiis autem ipsa numquam? Perferendis, harum ducimus. Modi molestias consectetur beatae dolores iste qui maiores blanditiis repellat totam.
        Error in cupiditate quos, impedit delectus eaque? Vel modi sequi error, eligendi distinctio, magni sunt consequatur ipsum vero molestiae necessitatibus est placeat quia ducimus velit rem quidem a. Amet, praesentium!
        Ipsum eaque quaerat distinctio. Tenetur deserunt, cupiditate odio numquam, minus commodi necessitatibus quo corporis vero facilis laboriosam impedit non maiores id. Culpa consectetur cumque sapiente, expedita minus voluptate molestias placeat!
        Esse totam quas corporis quae ipsam consectetur commodi soluta impedit nesciunt, excepturi nihil expedita eaque culpa itaque, ducimus veritatis porro voluptatibus et quasi alias ad. Illum, expedita beatae! Ipsam, minus!
        Tempore commodi, laudantium sit maxime rem repellat libero dignissimos molestiae unde excepturi, ipsa cupiditate modi beatae debitis fuga vero! Quam perferendis dolores quidem fugiat magni illo esse! Repellat, possimus debitis.
        Ipsum, eveniet doloremque suscipit ex vero maxime libero corporis beatae, ea deleniti harum accusantium, magnam blanditiis praesentium animi eos placeat. Mollitia sint velit sed temporibus nulla a hic rem quas.
        Adipisci architecto quidem dolor, quasi amet vel consequuntur quos eos eum recusandae ullam iste suscipit ipsa pariatur expedita debitis distinctio? Maiores quas ducimus officiis. Eum, sequi. Expedita incidunt exercitationem illum.
        Non a dolores neque. Voluptates qui neque excepturi ipsum sapiente esse repudiandae? Ut mollitia ad aperiam natus iure corrupti tenetur, deleniti necessitatibus rerum. Veritatis, reiciendis debitis odio dignissimos enim officia.
        Maxime voluptatem eos facilis molestiae sapiente pariatur incidunt numquam, quis quisquam ratione reiciendis fugiat molestias exercitationem recusandae laudantium voluptatum asperiores? Dignissimos deserunt aliquid odio veniam fuga recusandae asperiores ratione minus?
        Quasi eos asperiores, aspernatur nobis quis numquam atque officiis provident quod, quos culpa porro incidunt soluta saepe distinctio obcaecati esse ratione maxime voluptatum earum harum minus eligendi voluptate! Aut, autem.
        Nihil, illum quisquam! Molestiae ullam, enim, facilis accusantium sunt tenetur ipsam nulla itaque eos voluptatem a eum ab quos quis inventore non nam esse rem qui. Similique sequi placeat vero.
        Reiciendis labore dolores veniam ipsum, laborum rem? Laboriosam, facilis et. Porro eveniet earum sed libero, illum, nobis exercitationem voluptas ullam aut aperiam veritatis sit aliquam eius amet non totam id.
        Illum, possimus. Consequatur quos totam velit. Neque perferendis dignissimos quaerat blanditiis architecto atque vel at amet accusantium illum magni distinctio, sit inventore quasi, reprehenderit placeat. Aspernatur voluptatibus est consequatur quidem.
        Quidem minima alias, impedit minus incidunt quisquam ab corrupti consequuntur suscipit obcaecati iste ducimus, tempore in cupiditate nobis? Aliquid nam hic iste autem quaerat, optio commodi dolores dolor magnam reiciendis.
        Voluptatibus sed at similique, pariatur laboriosam debitis praesentium. Facilis libero asperiores corrupti odio hic repudiandae voluptas molestias cumque nam? Maiores cum autem aliquam dolores voluptatum doloremque hic accusamus nobis excepturi!
        Nam, laborum quibusdam iste optio odio animi numquam voluptatibus voluptas cumque nulla velit ad totam quis eius neque praesentium excepturi sapiente veritatis. Illo, numquam. Modi expedita consequuntur inventore optio minus!
        Sequi autem, maiores perspiciatis cum sed iusto? Atque, obcaecati sit mollitia tenetur animi perspiciatis dolorem temporibus consequuntur! Id voluptatibus porro dolorem provident ipsa quo expedita exercitationem voluptatem, quam voluptatum veritatis!
        Corporis quidem molestiae, labore aut laudantium culpa et. Vel incidunt atque dolore consectetur temporibus? Animi, et dignissimos unde dolorum nihil odio ex delectus eaque nam eius illo consectetur, beatae perferendis?
        Voluptatem totam tempore porro distinctio repudiandae, dolorum culpa qui optio adipisci vitae repellat ullam, architecto deleniti? Saepe provident deleniti ullam eum in magni odio natus enim voluptas deserunt, labore non?
        Id hic voluptatem aspernatur adipisci obcaecati deserunt inventore commodi dolor modi voluptatum cum est unde sit non deleniti at, eveniet blanditiis ab nisi enim dicta voluptates doloremque nemo. Perferendis, repellat?
        Soluta officiis reiciendis repudiandae excepturi! Quis nam vel et, voluptatem recusandae hic animi eligendi accusamus. Molestiae eveniet doloribus aut facere aliquam deleniti suscipit alias iusto culpa fugiat harum, sit quis!
        Earum tempore aperiam iste ducimus consequatur expedita enim cum sapiente aspernatur illum dignissimos ipsum, nostrum est provident quidem possimus quo quia deserunt molestiae quibusdam quos saepe dolorem eveniet maxime. Repellendus!
        Ad doloremque, autem ut harum, molestiae sunt vero molestias consequuntur id minus perspiciatis architecto inventore quam nesciunt laboriosam repellendus. Corrupti eos numquam laudantium alias necessitatibus fuga nam aliquid aperiam tenetur.
        Molestiae dolorum, eum obcaecati sint autem quam repudiandae itaque fugit soluta doloribus pariatur, corrupti est, totam rerum non asperiores praesentium fugiat iusto sequi quod cum voluptatibus? Non distinctio debitis ullam.
        Ratione minima animi quisquam cupiditate quos, expedita nostrum, alias nihil fugit molestiae dolor velit eum nulla saepe impedit excepturi id, quae accusamus sed possimus? Perferendis quaerat tempore illo velit in.
        Corrupti beatae consequuntur eaque dolorem, impedit consectetur quis quam ad! Necessitatibus, nisi. Ipsam ea deleniti quos nulla quo animi, ipsa perferendis eveniet consequuntur ut. Quis a fuga doloremque possimus nulla?
        Natus recusandae voluptates unde similique quidem fuga enim quis. Cumque tempore ex saepe perferendis earum, soluta omnis possimus culpa explicabo quo non, unde rem! Accusantium ea asperiores sint dolore eligendi!
        Impedit rem laborum doloribus et sed explicabo veritatis distinctio temporibus nam officiis ratione totam quis fugiat eius ab, autem vel illum! Quisquam consectetur deserunt, modi impedit facere tenetur. At, fugit.
        Veritatis dolor, eligendi ea praesentium dolore enim nihil aliquid maiores ipsa mollitia harum temporibus voluptas tempora modi reprehenderit asperiores iure. Mollitia numquam fugit pariatur libero in, earum facere provident illo.
        Illo sed aut ab assumenda ratione quasi. Voluptas, fugiat sit beatae voluptatibus atque optio ducimus ad blanditiis quae asperiores expedita repudiandae, saepe reiciendis eum. Officia exercitationem recusandae adipisci possimus ad?
        Optio ullam tenetur distinctio eligendi rem incidunt, quidem quam itaque laboriosam libero exercitationem, temporibus placeat alias quia ipsum error ab deleniti rerum aliquid accusamus delectus ipsa facilis aperiam minima. Consectetur.
        Aliquam molestiae, amet corrupti ex reprehenderit quas ipsa odit porro quia ad iure similique quisquam tempore nostrum doloribus, repellat in rerum quod nisi. Fugit, illo aperiam. Autem quibusdam accusamus corporis.
        Eligendi esse unde expedita corporis praesentium earum ipsa deleniti minus facilis saepe. Sapiente ratione praesentium voluptas tempora, alias, repellat ad nisi iure suscipit a, quam natus molestiae dolorem illo amet.
        Omnis veritatis iusto autem nam ex. Corporis optio illo rem nisi delectus harum vel adipisci iusto officia est, incidunt culpa aperiam error necessitatibus molestiae fuga quae? Ipsum commodi praesentium quia.
        Dolore voluptatum asperiores reprehenderit porro quas earum odit eos laudantium excepturi. Laboriosam aperiam, dolor incidunt, commodi, atque dicta quibusdam unde nostrum quam voluptate tenetur quidem quaerat? Nobis dolorem velit officiis.
        Optio consequuntur doloribus dignissimos nisi pariatur, tenetur iusto nihil consequatur impedit accusantium sequi earum ipsam veritatis temporibus nemo alias iste porro possimus aut vel veniam saepe nulla. Vel, labore assumenda.
        Fugit corrupti eos reprehenderit possimus commodi, quia ipsam harum eligendi dicta dolor placeat nesciunt dignissimos inventore quam eaque numquam ea totam magnam illum molestiae dolores veniam quo. Molestiae, adipisci animi.
        Quae quos facilis provident. Pariatur numquam qui vel est consequatur quos architecto molestias ipsa minus? Deleniti doloribus amet pariatur rerum provident optio repellendus sit ab est repudiandae, similique culpa mollitia?
        Doloremque, non eligendi voluptatem voluptate repellendus nostrum, nisi iusto similique iste explicabo soluta possimus accusamus aut et sequi iure, nesciunt facilis reiciendis? Rem, quaerat quis eos voluptatum et natus ut.
        Deserunt consequuntur asperiores perspiciatis mollitia eaque! Quia animi expedita sed aperiam, inventore rerum blanditiis saepe voluptas sapiente commodi quod quisquam ab sequi ratione, nesciunt laborum dignissimos. Doloremque tenetur quis reiciendis!
        Praesentium magnam porro, tempora necessitatibus nesciunt eius quaerat iusto delectus provident? Sint sit veritatis, quae similique rerum nulla debitis ab fuga officiis odio exercitationem placeat blanditiis. Repudiandae aperiam esse enim!
        In, assumenda at veniam dolor sint dignissimos velit quis nisi explicabo voluptatum accusantium distinctio nesciunt minus fuga repellendus, illum fugit similique. Aut, similique perferendis earum odio dolorem repellendus corrupti iusto.
        Ipsum repellat tempora vitae, magnam voluptatum perspiciatis corrupti corporis ab suscipit illum, ipsam repellendus quae, placeat dolore possimus consectetur! Architecto saepe, unde amet minus accusamus ullam omnis ad totam aspernatur?
        Hic beatae minima eum culpa. Aspernatur cumque ipsa sapiente provident quod. Laborum sed, laudantium consequuntur, praesentium enim esse odio ut quia corporis saepe magnam aperiam ipsum temporibus amet est nobis!
        Repellat labore ea tempore quae nobis, eius quisquam iste illo quasi omnis enim laborum animi tenetur, asperiores expedita eos accusamus ex quibusdam nihil maxime! Esse veniam quae assumenda culpa nesciunt.
        Ipsam temporibus maiores cum illo ratione adipisci at accusamus iste, ex neque repellendus inventore obcaecati quas, placeat eum, odit culpa ea dolore quia. Itaque aperiam molestias necessitatibus vero asperiores repellendus.
        Animi alias iste magnam enim officiis placeat delectus quasi doloremque accusantium, obcaecati, qui saepe vero nihil veritatis dolore nam eaque, repellendus debitis laborum natus? Tempora cumque illum dolores veniam libero.
    </div>
    <div id="mision" class="contenContenido fade" style="display:none;">Contenido de Misión</div>
    <div id="vision" class="contenContenido fade" style="display:none;">Contenido de Visión</div>
    <div id="historia" class="contenContenido fade" style="display:none;">Contenido de Historia</div>
    <div id="valores" class="contenContenido fade" style="display:none;">Contenido de Valores</div>
  </div>

</div>

<script>
function mostrarSeccion(id) {
  // Ocultar todos los divs dentro de ElementsMasterCointainer
  var secciones = document.querySelectorAll('.ElementsMasterCointainer > div');
  secciones.forEach(function(seccion) {
    seccion.style.display = 'none';
  });

  // Mostrar la sección correspondiente al botón presionado
  document.getElementById(id).style.display = 'block';
}


</script>



{% endblock content %} 




{% block serviciosContent%}

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Nuestra cooperativa ofrece</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1'>Ahorros</a></li>
              <li><a href='#tabs-2'>Créditos</a></li>
              <li><a href='#tabs-3'>Inversiones</a></li>
            </ul>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="{% static 'assets/images/choose-us-image-01.png'%}" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Ahorros</h4>
                    <p>Grad School is free educational HTML template with Bootstrap 4.5.2 CSS layout. Feel free to use it for educational or commercial purposes. You may want to make <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a little donation</a> to TemplateMo. Please tell your friends about us. Thank you.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="{% static 'assets/images/choose-us-image-02.png'%}" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Créditos</h4>
                    <p>You can modify this HTML layout by editing contents and adding more pages as you needed. Since this template has options to add dropdown menus, you can put many HTML pages.</p> 
                    <p>Suspendisse tincidunt, magna ut finibus rutrum, libero dolor euismod odio, nec interdum quam felis non ante.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="{% static 'assets/images/choose-us-image-03.png'%}" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Inversiones</h4>
                    <p>You are NOT allowed to redistribute this template ZIP file on any template collection website. However, you can use this template to convert into a specific theme for any kind of CMS platform such as WordPress. For more information, you shall <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact TemplateMo</a> now.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>


  
  {% endblock serviciosContent%}
