{% extends 'base.html'%}
{% load static %}
{% block tittle %}Acceso{% endblock tittle %}


{% block content%}
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="{% static 'styles/Autenticacion.css' %}">
<div class="MainContenainerForm">
    <form class="formAutenticacion" method="POST" action="{% url 'ejecutarInicioSesion' %}">
        {% csrf_token %}
        <div class="contenedorInputs">
          <label for="usuario" class="form-label ">Usuario:</label>
          <input type="text" class="inputAutenticacion" name="usuario" id="usuario" required>
          <label for="password" class="form-label ">Contraseña:</label>
          <input type="text" class="inputAutenticacion" name="password" id="password" required>
        </div>
        <div class="submitBotton">
            <button class="buttongenerearCertificado" type="submit">
            <span class="material-symbols-outlined">login</span> Inicar sesión</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock%}