{% extends "sidebar.html" %}
{% load static %}




{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/capitulo.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/barraActivacion.css' %}">


<div class="encabezadoTitulo">
    <h1>Capítulo {{ capitulo.orden }}: {{ capitulo.titulo }} </h1>
</div>

<div class="cuerpo">
    {{ capitulo.cuerpo|safe }}
</div>

<div id="contenidoExtra" class="contenido">
    <div class="imagen">
        <img src="{{ capitulo.imagenURL }}" alt="">
    </div>
</div>

    
    <div class="barraCarga"></div>
</button>


<script src="{% static 'js/capitulo.js' %}"></script>
<script src="{% static 'js/avance.js' %}"></script>



{% endblock %}
