{% extends "sidebar.html" %}
{% load static %}
{% load embed_video %}




{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/capitulo.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/barraActivacion.css' %}">


<div class="encabezadoTitulo">
    <h1>Capítulo {{ capitulo.orden }}: {{ capitulo.titulo }} </h1>
</div>

<div class="cuerpo">
    {{ capitulo.cuerpo|safe }}
</div>

<div id="contenidoExtra" class="contenido">
    <div class="imagen">
        <img src="{{ capitulo.imagenURL }}" alt="">
    </div>
    <div class="video">
        {{ capitulo.videoURL|embed_video|safe }}
    </div>
</div>

<div class="buttonContent">
    <button class="boton" id="toggleContenidoBtn">
        Mostrar contenido extra
        <span id="icono" class="material-symbols-outlined">keyboard_arrow_down</span>
    </button>
</div>


<button id="botonAvance"
        class="boton next {% if aprobado %}aprobado{% endif %}"
        {% if not aprobado %}disabled{% endif %}
        data-url="{% url examen|yesno:'examen_capitulo,avanzarCapitulo' capitulo.id %}"
        data-activacion="{{ capitulo.activacion|default:0 }}">
    {% if aprobado %}
        Capítulo aprobado
    {% else %}
        {% if examen %}
            Avanzar a examen 
        {% else %}
            Aprobar capítulo 
        {% endif %}
    {% endif %}
    
    <span class="material-symbols-outlined">
        {% if aprobado %}
            task_alt
        {% else %}
            {% if examen %}
                assignment
            {% else %}
                chevron_right
            {% endif %}
        {% endif %}
    </span>
    
    <div class="barraCarga"></div>
</button>

<div class="tiempo">
    <span id="mensajeActivacion"><small>{% if aprobado%} {%else%}{{ capitulo.activacion }} ⌚ {%endif%}</small></span>
</div>



<script src="{% static 'js/capitulo.js' %}"></script>
<script src="{% static 'js/avance.js' %}"></script>



{% endblock %}
