{% extends 'base.html'%}
{% load static %}
{% block tittle %}Acceso{% endblock tittle %}


{% block content%}
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/iniciarConGoogle.css' %}">

<div class="MainContentGoogle">
    
    <div class="ingregarEducacionFinanciera">
        <a href="{% url 'social:begin' 'google-oauth2' %}" \rel="noopener noreferrer">
            <img src="{% static 'img/google.png' %}" alt="" width="32" height="32">  Iniciar sesión con Google
        </a>
    </div>
    
</div>

{% endblock%}

