{% extends "sidebar.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/perfil.css' %}">


<div class="datosPefilDeVisitante">
    <img src="{{ picture }}" alt="Foto de perfil" width="100">
    <h3 class="nombreDelVisitante">Perfil de {{ name }}</h3>
</div>
<div class="tabla-contenedor-redondeado">


<table class="mi-tabla-personalizada table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Título del Capítulo</th>
            <th>Fecha de Verificación</th>
            <th>Nota Obtenida</th>
            <th>Aprobado</th>
            <th>Ir al capítulo</th>
        </tr>
    </thead>
    <tbody>
        {% for item in actividad %}
        <tr>
            <td>{{ item.titulo }}</td>
            <td>{{ item.fecha }}</td>
            <td>{{ item.nota }}</td>
            <td>{{ item.aprobado }}</td>
            <td> 
                {% if item.aprobado == "Sí" %}
                    No aplica
                {% else %}
                    <a class="BarraIrCapitulo" href="{% url 'capitulo' item.orden %}">Ir <span class="material-symbols-outlined">arrow_forward</span></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="botonCentrar">
    <a class="botonCertificarme {% if not todo_aprobado %}disabled{% endif %}" 
       href="{% if todo_aprobado %}/ruta-a-certificacion{% else %}#{% endif %}">
       Certificarme
    </a>
</div>

{% endblock %}
