*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --bg-color: #FFF8C6;
    --sidebar-color: #FFD4FF;
    --main-color: #000;
    --text-color: #000;
}



.encabezadoTitulo {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #fff8c6bb;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px); 
    z-index: 1000;
    margin-left: 20px;
}



.encabezadoTitulo h1 {
    font-size: clamp(1.5rem, 2.5dvh, 3.5rem);
    font-weight: bold;
    padding: 10px 0;
    white-space: normal;            /* Permite colapsar */
    word-wrap: break-word;         
    overflow-wrap: break-word;
    line-height: 1.2;
    max-width: 85%;   
    padding: 20px 20px;
    text-align: center;   
    width: 100%;
    height: 100%;    
}


.cuerpo {
    margin-top: 70px;
    padding: 0 50px;
    text-align: justify;
    font-size: clamp(1.2rem, 2.2dvh, 3rem);


}



.contenido {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    padding: 0 50px;



}

.contenido.activo {
    max-height: 5000px;
    opacity: 1;
    z-index: 10;

}


.boton{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    border: 3px solid var(--sidebar-color);
    border-radius: 10px;
    padding: 10px;
    margin:  auto;
    transition: background-color 0.5s ease;
    color: #000;


}


.boton:hover{

    background-color:  var(--sidebar-color);
    font-size: 1000;


}

.buttonContent{
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;


}

.imagen{
    overflow: hidden;
    width: 49%;
    height: auto;

}


.imagen img{
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 15px;

}

.video{
    width: 49%;
    height: auto;


}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: auto;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    z-index: 10;

}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 10;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
    z-index: 10;
}

.next{
    display: flex;
    position: fixed;
    right: 15px;
    bottom: 10px;

}




@media screen and (max-width: 768px) {
    .contenido {
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }

    .cuerpo {
        padding: 0 30px;
    }

    .contenido .imagen,
    .contenido .video {
        width: 100%;
        margin-bottom: 20px;
    }

    .encabezadoTitulo {
        overflow-x: auto;
    }

    .encabezadoTitulo h1 {
        white-space: nowrap;
        overflow-x: auto;
        text-overflow: clip;
        display: block;
        max-width: 95%;
        padding: 20px 20px;
        min-width: max-content; /* <- Esto es lo que te falta */
    }
    .buttonContent{
        margin-bottom: 75px;


    }
}




