*{
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #FFF8C6;
    --sidebar-color: #CA6AB4;
    --main-color: #023196;
    --text-color: #000;
}



.MainContentGoogle{
    width: 100%;
    height: 100vh;
    display: flex;

    
}


.ingregarEducacionFinanciera a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    font-size: 1rem;
    color: var(--main-color);
    background-color: #fff;
    padding: 10px;

}

.ingregarEducacionFinanciera{
    background-color: #ca6ab490;
    width: 400px;
    margin: auto;
    padding: 70px;
    scale: 1;
    transition: scale 0.5s ease;
    border-radius: 15px;
}

.ingregarEducacionFinanciera:hover{
    scale: 1.1;
}