{% extends "sidebarNoticias.html"%}
{% block title %}Panel Central{% endblock %}


{% block content %}

<h1 style="text-align: center; margin-top: 20px;">GESTIÓN DE NOTICIAS/h1>

<div style="width: 95%; margin: auto;">
<div class="d-flex justify-content-end mb-3">
        <a href="nuevaniticia" class="btn btn-outline-primary">Crear Noticia <i class="fa fa-pen"></i></a>

</div>

<table class="mi-tabla-personalizada table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Orden</th>
            <th >Título</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Fecha de Creacion</th>
            <th>Saber más</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for capitulo in capitulos %}
        <tr>
            <td>{{ capitulo.orden }}</td>
            <td class="col-titulo"><span class="badge bg-info">{{ capitulo.titulo }}</span></td>
            <td>{{ capitulo.horasProximadas }}</td>
            <td>{{ capitulo.fechaCreacion }}</td>

            <td>
                <a href="{% url 'edicion' capitulo.id %}" class="btn btn-outline-warning btn-sm mb-1">
                    <i class="fas fa-edit"></i> Editar
                </a>
                <a href="{% url 'ejecutareliminacionCapitulo' capitulo.id %}" class="btn btn-outline-danger btn-sm">
                    <i class="fa fa-trash"></i> Eliminar
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-center">No hay capítulos registrados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>



{% endblock %}